html {
    font-family: "Rubik", sans-serif;
    font-size: 14pt;
    line-height: 1.6;

    background-color: black;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    --content-padding: 1rem;
}