.btn-green{
    background: limegreen;
    color: white;
    margin-left: 10px;
}

.lower-right{
    position: relative;
    margin-left: 60%;
}


.rounded{
    background: rgba(255,255,255,0.65);
    padding: 15px;
}

.container{
    width: 100%; /* Full width */
    background-color: rgba(	155,155,155,0.7); /* Grey background */
}

.attribute{
    text-align: center; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    background-color: #ffba00;
}
