.btn-green{
    background: limegreen;
    color: white;

}

.lower-right{
    position: relative;
    margin-left: 75%;
    margin-top: 10%;
}

.list-group, .list-group-item{
    background: rgba(255,255,255,0);
}

.with-bg{
    background: rgba(255,255,255,0.65);
    padding: 15px;
    margin: 0;
}
